<section class="hero is-fullheight is-dark is-bold home">
  <div class="hero-body">
    <div class="container">
      <h1 class="title home">
        Ancestry Mapper
      </h1>
      <h2 class="subtitle home">
        Track your families lineage and view your big moments across the globe!
      </h2>
    </div>
  </div>
</section>