<div class="main-sec">
    <h1>Map Page</h1>
    <div id="map" style="height: 400px; width: 400px"></div>

</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9k8U_KzwSGC4DbQWJKoH51YMtvKZrR6U&callback=initMap&libraries=&v=weekly" ></script>