<div class="main-sec">
    <h1>Tree Page</h1>
    <div id="tree-area">
        <ul>
            {{tree_template}}
        </ul>
    </div>
</div>

<script>
    let treeA = document.getElementById('tree-area')
    console.log(treeA)
</script>