#map {
    height: 400px;
    width: 400px;
}
.main-sec{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#tree-area{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  border: 2px red solid;
  height: 80vh;
  width: 80vw;
  overflow: auto;
}
#info_box{
  height: 20vh;
  width: 80vw;
}

.columns {
  flex-wrap: wrap;
}

.edit-buttons {
  margin: 2rem;
}

.hero.is-fullheight.is-dark.is-bold.home {
  background-image: url('/images/map.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.people {
  background-image: url('/images/map.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.container.is-fluid {
  padding-top: 2rem;
}

.hero.is-fullheight.is-light.is-bold {
  background-image: url('/images/map2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.del_btn{
  height: 20px;
}
.container{
  overflow: auto;
}