<h1> Add Child Page </h1>

{{#if error}}
<p>Error: {{error}}</p>
{{/if}}

<h2>Child Information</h2>
<p>Parents ID: {{ id }}</p>

<form method="post" action="/people/{{id}}/add_child">
    <div>
        <label>First Name</label>
        <input type="text" name="firstName" />
    </div>
    <div>
        <label>Middle Name</label>
        <input type="text" name="middleName" />
    </div>
    <div>
        <label>Last Name</label>
        <input type="text" name="lastName" />
    </div>
    <div>
        <label>Date of Birth</label>
        <input type="date" name="DOB" />
    </div>
    <div>
        <label>Town/City of Birth</label>
        <input type="text" name="birthCity" />
    </div>
    <div>
        <label>State</label>
        <input type="text" name="birthState" />
    </div>
    <div>
        <label>Country</label>
        <input type="text" name="birthCountry" />
    </div>
    {{!-- 
    <h2>Events</h2>

    <div>
        <label>Event</label>
        <input type="text" name="event" />
    </div>
    <div>
        <label>Date</label>
        <input type="date" name="eventDate" />
    </div>
    <div>
        <label>Location</label>
        <input type="text" name="location" />
    </div> 
    --}}

    {{!-- Submit Button--}}
    <div>
        <input type="submit" value="Submit" />
    </div>
</form>

<a href="/user/logout">Logout</a>