{{#if error}}
<p>Error: {{error}}</p>
{{/if}}

<section class="hero is-fullheight is-light is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Add your childs information!
      </h1>
      <section class='form'>
        <form method="post" action="/people/{{id}}/add_child">
            <div class="field">
                <label>First Name</label>
                <input type="text" name="firstName"/>
            </div class="field">
            <div class="field">
                <label>Middle Name</label>
                <input type="text" name="middleName"/>
            </div>
            <div class="field">
                <label>Last Name</label>
                <input type="text" name="lastName"/>
            </div>
            <div class="field">
                <label>Date of Birth</label>
                <input type="date" name="DOB" />
            </div>
            <div class="field">
                <label>Town/City of Birth</label>
                <input type="text" name="birthCity"/>
            </div>
            <div class="field">
                <label>State</label>
                <input type="text" name="birthState"/>
            </div>
            <div class="field">
                <label>Country</label>
                <input type="text" name="birthCountry"/>
            </div>
            {{!-- Submit Button--}}
            <div>
                <input type="submit" value="Submit" class="button is-link is-outlined"/>
            </div>
            </form>
        </section>
        <div class="edit-buttons">
            <a href="/people/{{id}}" class="button is-dark">Back</a>
            <a class="button is-danger" href="/people/{{id}}/add_event">Add Event</a>
        </div>
    </div>
  </div>
</section>