{{#if error}}
<p>Error: {{error}}</p>
{{/if}}

<section class="hero is-fullheight is-light is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Add Event Information!
      </h1>
      <section class='form'>
        <form method="post" action="/people/{{id}}/add_event">
            <div class="field">
                <label>Event Description</label>
                <input type="text" name="event" />
            </div class="field">
            <div class="field">
                <label>Event Date</label>
                <input type="date" name="date" />
            </div>
            <div class="field">
                <label>Town/City</label>
                <input type="text" name="city" />
            </div>
            <div class="field">
                <label>State</label>
                <input type="text" name="state" />
            </div>
            <div class="field">
                <label>Country</label>
                <input type="text" name="country" />
            </div>
            {{!-- Submit Button--}}
            <div>
                <button class="button is-dark" href="people/all">Back</button>
                <input type="submit" value="Submit" class="button is-link is-outlined"/>
            </div>
            </form>
        </section>
    </div>
  </div>
</section>
